[user]
    name = Johann Pierrat
    email = johann.pierrat@gmail.com

[color]
    ui = true

[core]
    excludesfile = ~/.gitignore_global

[github]
    name=johannpierrat
    user=johannpierrat

[merge]
    tool = splice

[mergetool "splice"]
    cmd = "vim -f $BASE $LOCAL $REMOTE $MERGED -c 'SpliceInit'"
    trustExitCode = true

[alias]
    st = status
    ci = commit -a
    cim = commit -a -m
    b = branch
    bt = branch --track
    co = checkout
    cob = checkout -b
    cobt = checkout -b --track
    d = diff
    l = log
    lp = log -p
    ls = log --stat
    lr = log --raw
    lg = log --graph
    lo = log --pretty=oneline
    f = fetch
    ph = push
    pl = pull
    r = remote
    rs = remote show
    ra = remote add
    rd = remote del
    lsf = ls-files
    m = merge
    cl = clean -fd
    t = tag
    ui = update-index

[pager]
    status = false
