[submodule ".vim/UltiSnips"]
	path = .vim/UltiSnips
	url = git://github.com/Chewie/EPITA-snippets.git
[submodule ".fonts/dejavu-powerline"]
	path = .fonts/dejavu-powerline
	url = git://gist.github.com/1630581.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".fonts/fantasque-sans"]
	path = .fonts/fantasque-sans
	url = https://github.com/belluzj/fantasque-sans.git
